.Hidden {
	display: none;
}

.Show > button {
	box-sizing: border-box;
	margin: 20px;
	border: 1px solid #fff;
	background: transparent;
	border-radius: .6em;
	color: #fff;
	padding: 12px 30px;
	cursor: pointer;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
}

.Show > button:hover {
	background: #fff;
	color: #2c303a;
	
}