.Hidden {
	display: none;
}

.Show > button {
	margin: 20px;
	border: 1px solid #fff;
	background: #2c303a;
	border-radius: 12px;
	color: #fff;
	width: 80px;
	height: 40px;
	cursor: pointer;
	font-size: 18px;
}

.Show > button:hover {
	background: #fff;
	color: #2c303a;
}